<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Shipping Restriction</label>
    <label lang="de">Lieferland Begrenzung</label>
    <version>1.0.1</version>
    <copyright>(c) by shopware AG</copyright>
    <license>MIT</license>
    <link>http://store.shopware.com</link>
    <author>shopware AG</author>
    <compatibility minVersion="5.2.0" maxVersion="5.5.2"/>

    <changelog version="1.0.1">
        <changes lang="de">Neuen Smarty-Block hinzugefügt</changes>
        <changes lang="en">Added new Smarty block</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">SW-22881 - Erstveröffentlichung</changes>
        <changes lang="en">SW-22881 - First release</changes>
    </changelog>
</plugin>
